.ModalActionButtonsContainer {
  display: flex;
  gap: var(--spacing-small);
  padding: var(--spacing-base);
  border-top: 1px solid var(--color-surface-border-1);
}

.ModalContentContainer {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-small) var(--spacing-base);
  padding-bottom: var(--spacing-large);
}

.LineGraphContainer {
  margin: var(--spacing-base) 0;
}

.DataContainer {
  color: var(--color-text-main-1);
  background-color: var(--color-main-2);
  width: fit-content;
  padding: var(--spacing-small) var(--spacing-base);
  border-radius: var(--radius-base);
  margin: var(--spacing-2xsmall) 0;
}

.EmptyGraphContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-base);
  padding: var(--spacing-base);
  background-color: var(--color-surface-light-2);
  border: 1px solid var(--color-surface-border-1);
  border-radius: var(--radius-base);
  margin: var(--spacing-base) 0;
  text-align: center;
}