.LineGraphContainer {
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-large);
}

.DataContainer {
  color: var(--color-white);
  background-color: var(--color-primary-base);
  width: fit-content;
  padding: var(--spacing-small) var(--spacing-base);
  border-radius: var(--radius-base);
  margin: var(--spacing-2xsmall) 0;
}

.EmptyGraphContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-base);
  padding: var(--spacing-base);
  background-color: var(--color-neutral-dark);
  border: 1px solid var(--color-neutral-base);
  border-radius: var(--radius-base);
  margin: var(--spacing-base) 0;
  text-align: center;
}