.ContentContainer {
  padding: var(--spacing-base);
}

.errorText {
  color: var(--color-error);
  margin-top: var(--spacing-xsmall);
  min-height: 1.4em;
}

.ButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: var(--spacing-base);
}

.NoteContainer {
  display: flex;
  gap: var(--spacing-2xsmall);
  margin-top: var(--spacing-small);
}