.ContentContainer {
  padding: var(--spacing-base);

  &>p {
    color: var(--color-error);
    margin-top: var(--spacing-small);
  }
}

.ButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing-base);
}

.NoteContainer {
  display: flex;
  gap: var(--spacing-2xsmall);
  margin-top: var(--spacing-small);
}