.StaffGenerationWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.StaffContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}