.PresetsItemsWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.PresetsItemContainer {
  display: flex;
  padding: 1em 1.2em;
  border: 1px solid var();
  cursor: pointer;
}

.selected {
  background-color: blue;
}

.UsePresetsButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}