.SizeWrapper {
  width: 100%;
  max-width: 30rem;
  padding: var(--spacing-small);
}

.PWASizeWrapper {
  width: 100%;
  max-width: 40rem;
  padding: var(--spacing-small);
}

.CardsWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-base)
}

.InputDeviceHeader {
  display: flex;
  align-items: center;
  padding: var(--spacing-base) var(--spacing-small);

  &> :first-child {
    flex: 1;
  }
}

.InputDeviceDropDownButton.Rotated svg {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.InputDeviceDropDownButton svg {
  transition: transform 0.2s ease;
}

.InputDeviceTextContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xsmall);
}

.InputDeviceTextContainer>.InputDeviceTextItem:nth-child(2n) {
  gap: 0;
}

.InputDeviceTextItem {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xsmall);
}

.InputDeviceButtonContainer {
  margin-top: var(--spacing-small);

  &>p {
    margin-bottom: var(--spacing-2xsmall);
  }
}

.ExpandedContent {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease, padding 0.3s ease;
  padding: 0 var(--spacing-base);
}

.Show {
  max-height: 500px;
  opacity: 1;
  padding: var(--spacing-base);
  border-top: 1px solid var(--color-neutral-dark);
}

.ExpandedContentButtonContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--spacing-base);
}

.ErrorText {
  color: var(--color-error-base);
  margin-top: var(--spacing-2xsmall);
}

.MidiPlaybackExapandedContent {
  gap: var(--spacing-2xsmall);

  &>p:last-child {
    margin-top: var(--spacing-small);
  }
}