.PresetDrillsWrapper {
  display: flex;
  flex-direction: column;
}

.CardContainer {
  display: grid;
  gap: var(--spacing-base);
  grid-template-columns: repeat(2, 1fr);
}

.HeadingContainer {
  margin-bottom: var(--spacing-xsmall);
}

.TextContainer {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xlarge) var(--spacing-base);
  padding-top: var(--spacing-large);
}

.HeaderContainer {
  display: flex;
  gap: var(--spacing-2xsmall);
  margin-bottom: var(--spacing-2xsmall);
}

.PracticeButtonContainer {
  display: flex;
  gap: var(--spacing-small);
  padding: var(--spacing-base);
  border-top: 1px solid var(--color-surface-border);
}

@media (max-width: 600px) {
  .CardContainer {
    grid-template-columns: 1fr;
  }
}