.NoteDrillPageWrapper {
  display: flex;
  justify-content: center;
}

.HeaderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CardContainer {
  display: grid;
  gap: var(--spacing-base);
  padding-top: var(--spacing-base);
  grid-template-columns: repeat(2, 1fr);
}

.CardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;

  &>:last-child {
    margin-top: auto;
  }
}

.IconContainer {
  display: flex;
  justify-content: center;
  padding: 0 var(--spacing-base);
  padding-top: var(--spacing-large);
}

.TextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-base) var(--spacing-base);
  text-align: center;

  &>h2 {
    margin-bottom: var(--spacing-2xsmall);
  }
}

.ButtonContainer {
  padding: var(--spacing-base);
  padding-top: var(--spacing-small)
}

.DeviceContainer {
  background-color: var(--color-neutral-base);
  padding: var(--spacing-base);
  border-radius: var(--radius-base);
  border: 1px solid var(--color-neutral-xdark);

  & button {
    margin-top: var(--spacing-xsmall);
  }
}

.DeviceContainerTextItem {
  display: flex;
  gap: var(--spacing-2xsmall);
  padding-top: var(--spacing-2xsmall);
}

@media (max-width: 600px) {
  .CardContainer {
    grid-template-columns: 1fr;
  }
}