.NoteDrillPageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.SelectorsParent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.SelectorsWrapper {
  display: flex;
  justify-content: center;
  max-width: 800px;
}

.SelectorContainer {
  flex: 1;
  cursor: pointer;
  border: 1px solid black;
  padding: 1em;
  transition: background-color 0.2s ease;

  &:first-child {
    border-radius: 0.5em 0 0 0.5em;
    border-right: 0;
  }

  &:nth-child(2n) {
    border-radius: 0 0.5em 0.5em 0;
  }

  &:hover {
    background-color: var(--color-primary);
  }
}

.StartDrillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3em;
}

.DrillSelectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
}