.NoteDrillPageWrapper {
  display: flex;
  justify-content: center;
}

.HeaderContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CardWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-base);
  padding-top: var(--spacing-base);

  &>div {
    flex: 1 1 15.625rem;
  }
}

.CardContent {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;

  &>:last-child {
    margin-top: auto;
  }
}

.IconContainer {
  display: flex;
  justify-content: center;
  padding: 0 var(--spacing-base);
  padding-top: var(--spacing-large);
}

.TextContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--spacing-base) var(--spacing-base);
  text-align: center;

  &>h2 {
    margin-bottom: var(--spacing-2xsmall);
  }
}

.ButtonContainer {
  border-top: 1px solid var(--color-border);
  padding: var(--spacing-base);
}