.button {
  font-size: 1rem;

  padding: 0.75rem 1.3rem;
  cursor: pointer;
  border: none;
  background: none;
  transition: background-color 0.1s ease, color 0.1s ease, border-color 0.1s ease;
}

/* Round */
.round-small {
  border-radius: 6px;
}

.round-full {
  border-radius: 100px;
}

/* Variants w/ color */
.contained.primary {
  background-color: var(--color-primary-main);
  color: var(--color-primary-text);

  &:hover {
    background-color: var(--color-primary-dark);
  }
}

.outlined {
  border: 1px solid var(--color-divider);

  &:hover {
    background-color: var(--palette-light-3);
  }
}

.text.neutral {
  color: var(--palette-dark-2);

  &:hover {
    background-color: var(--palette-light-3);
  }
}