.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2xsmall);
  font: var(--ui-font);
  cursor: pointer;
  border: none;
  background: none;
  transition: var(--transition);
}

/* Handle button sizes (padding) */
.button.size-small {
  padding: var(--spacing-xsmall) var(--spacing-xsmall);
}

.button.size-medium {
  padding: var(--spacing-xsmall) var(--spacing-base);
}

.button.size-large {
  padding: var(--spacing-xsmall) var(--spacing-large);
}

.fullWidth {
  width: 100%;
}

/* radius */
.round-small {
  border-radius: var(--radius-base);
}

.round-full {
  border-radius: var(--radius-full);
}

.contained {
  position: relative;
  background-color: var(--color-button-contained-primary-background);
  color: var(--color-button-contained-primary-text);
  box-shadow: var(--elevation-medium);

  &:hover {
    background-color: var(--color-button-contained-primary-hover);
  }

  &:active {
    top: 1px;
    box-shadow: none;
  }

  &>svg>path {
    fill: var(--color-text-main-1);
    color: var(--color-text-main-1);
  }
}

.contained.disabled {
  cursor: default;
  background-color: var(--color-dark-2);

  &:active {
    top: unset;
    box-shadow: var(--elevation-medium);
  }
}

.outlined {
  background-color: var(--color-surface-light-1);
  border: 1px solid var(--color-button-outlined-border);
  color: var(--color-button-outlined-text);

  &:hover {
    background-color: var(--color-button-outlined-hover);
  }

  &:focus {
    outline: 2px solid var(--color-button-outlined-focus);
  }
}

.outlined.active {
  color: var(--color-text-main-1);
  background-color: var(--color-main-2);

  &>svg>path {
    fill: var(--color-text-main-1);
    color: var(--color-text-main-1);
  }

  &:focus {
    outline: revert;
  }
}

.text {
  &:hover {
    background-color: var(--color-button-text-primary-hover);
  }
}

.text-secondary {
  color: var(--color-button-text-secondary-text);

  &:hover {
    background-color: var(--color-button-text-secondary-hover);
  }

  &:focus {
    outline: 2px solid var(--color-button-outlined-focus);
  }
}

.text.active {
  color: var(--color-text-main-1);
  background-color: var(--color-main-2);

  &>svg>path {
    fill: var(--color-text-main-1);
    color: var(--color-text-main-1);
  }
}

.text-secondary.active {
  color: var(--color-text-main-1);
  background-color: var(--color-main-2);

  &>svg>path {
    fill: var(--color-text-main-1);
    color: var(--color-text-main-1);
  }

  &:focus {
    outline: revert;
  }
}