.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2xsmall);
  font: var(--ui-font);
  padding: var(--spacing-xsmall) var(--spacing-xsmall);
  cursor: pointer;
  border: none;
  background: none;
  transition: var(--transition);
}

.fullWidth {
  width: 100%;
}

/* radius */
.round-small {
  border-radius: var(--radius-base);
}

.round-full {
  border-radius: var(--radius-full);
}

.contained {
  position: relative;
  background-color: var(--color-primary);
  color: var(--color-onprimary);
  box-shadow: var(--elevation-medium);

  &:hover {
    background-color: var(--color-primary-hover);
  }

  &:active {
    top: 0.125rem;
    box-shadow: none;
  }
}

.outlined {
  background-color: var(--color-primary-surface);
  color: var(--color-text);

  &:hover {
    background-color: var(--color-primary-surface-hover);
  }
}

.outlined-secondary {
  background-color: var(--color-app-surface);
  border: 1px solid var(--color-border);
  color: var(--color-text);

  &:hover {
    background-color: var(--color-app-hover);
  }
}