.cardWrapper {
  align-items: stretch;
  border: 1px solid var(--color-surface-border-1);
  border-radius: var(--radius-base);
  background-color: var(--color-surface-light-1);
  width: 100%;
  box-shadow: var(--elevation-medium);
  overflow: hidden;
}

.Clickable {
  cursor: pointer;
}

.padding-base {
  padding: var(--spacing-base);
}