.cardWrapper {
  align-items: stretch;
  border: 1px solid var(--color-border);
  border-radius: var(--radius-base);
  background-color: var(--color-app-surface);
  width: 100%;
  box-shadow: var(--elevation-medium);
  overflow: hidden;
}

.clickable {
  cursor: pointer;
}

.padding-none {
  padding: 0;
}

.padding-base {
  padding: var(--spacing-base);
}