.headerContainer {
  display: flex;
  align-items: center;
  padding: var(--spacing-2xsmall) var(--spacing-small);
  padding-right: var(--spacing-2xsmall);
  border-bottom: 1px solid var(--color-border);

  &>h1 {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: var(--spacing-2xsmall);
  }

  &>button {
    margin-left: var(--spacing-2xsmall);
  }
}