.headerContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xsmall);
  padding: var(--spacing-xsmall) var(--spacing-small);
  padding-right: var(--spacing-2xsmall);
  border-bottom: 1px solid var(--color-surface-border-1);

  &>h1 {
    flex: 1;
  }
}