.Toggle {
  width: 50px;
  height: 24px;
  background-color: var(--color-surface-light-3);
  border-radius: var(--radius-full);
  border: none;
  position: relative;
  cursor: pointer;
  transition: background-color 0.25s ease;
  padding: 0;
}

.Thumb {
  position: absolute;
  top: 3px;
  left: 3px;
  /* start on the left when unchecked */
  width: 18px;
  height: 18px;
  background-color: var(--color-surface-light-1);
  border-radius: var(--radius-full);
  transition: left 0.25s ease, right 0.25s ease, transform 0.25s ease;
  border: 1px solid var(--color-surface-border-2);
}

/* When selected */
.Checked {
  background-color: var(--color-main-2);
}

.Checked .Thumb {
  left: calc(100% - 21px);
}