/* Modal styles */

.modalHeaderContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xsmall);
  padding: var(--spacing-xsmall) var(--spacing-small);
  padding-right: var(--spacing-2xsmall);
  border-bottom: 1px solid var(--color-neutral-dark);

  &>h1 {
    flex: 1;
  }
}

/* Toggle button styles */

.ToggleWrapper {
  width: 50px;
  height: 26px;
  background-color: var(--color-neutral-base);
  border-radius: var(--radius-full);
  border: 1px solid var(--color-neutral-dark);
  position: relative;
  cursor: pointer;
  transition: background-color 0.25s ease;
  padding: 0;
}

.ToggleThumb {
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background-color: var(--color-white);
  border-radius: var(--radius-full);
  transition: left 0.25s ease, right 0.25s ease, transform 0.25s ease;
  border: 1px solid var(--color-neutral-2xdark);
}

/* When selected */
.ToggleChecked {
  background-color: var(--color-primary-base);
}

.ToggleChecked .ToggleThumb {
  left: calc(100% - 21px);
}

/* Toggle Button group styles */
.ToggleButtonGroupWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2xsmall);
}

.ToggleButtonGroupActive {
  background-color: var(--color-white);
}

/* Icon wrapper styles */
.IconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: var(--min-button-size);
  width: var(--min-button-size);
  background-color: var(--color-primary-light);
  border-radius: var(--radius-full);

  &>svg {
    fill: var(--color-primary-base);
    flex-shrink: 0;
  }
}

/* Card styles */
.CardWrapper {
  align-items: stretch;
  border: 1px solid var(--color-neutral-dark);
  border-radius: var(--radius-base);
  background-color: var(--color-white);
  width: 100%;
  box-shadow: var(--elevation-medium);
  overflow: hidden;
}

.CardClickable {
  cursor: pointer;
}

.padding-base {
  padding: var(--spacing-base);
}