.ContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-2xsmall);
}

.AccuracyContainer,
.ScoreContainer {
  display: flex;
  justify-content: center;
  padding: var(--spacing-small);
  border-radius: var(--radius-base);
  width: 100%;
}

.ScoreContainer {
  background-color: var(--color-primary-base);

  & * {
    color: var(--color-white);
  }
}

.AccuracyContainer {
  gap: var(--spacing-small);
  border: 1px solid var(--color-neutral-dark);
}