.ModalContentContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-base);
  padding-bottom: var(--spacing-large);
}

.ModalActionButtonsContainer {
  display: flex;
  gap: var(--spacing-small);
  padding: var(--spacing-base);
  border-top: 1px solid var(--color-surface-border);
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-2xsmall);
}

.AccuracyContainer,
.ScoreContainer {
  display: flex;
  justify-content: center;
  padding: var(--spacing-small);
  border-radius: var(--radius-base);
  width: 100%;
}

.ScoreContainer {
  background-color: var(--color-main-2);

  & * {
    color: var(--color-text-main-1);
  }
}

.AccuracyContainer {
  gap: var(--spacing-small);
  border: 1px solid var(--color-surface-border);
}