.NavbarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);
  padding: var(--spacing-2xsmall) 0;
  border-bottom: 1px solid var(--color-neutral-base);
}

.SizeWrapper {
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
  width: 100%;
  max-width: var(--max-app-width);
  padding: 0 var(--spacing-base);

  &>:last-child {
    margin-left: auto;
  }
}

.IconTextContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-small);
  cursor: pointer;
}

.TitleContainer {
  display: flex;
  align-items: center;
}

.SidebarWrapper {
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100vh;
  background-color: var(--color-primary-xlight);
  z-index: 999;
  display: flex;
  flex-direction: column;
  transition: right 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  overflow-y: auto;
  padding-bottom: var(--spacing-3xlarge);
}

.SidebarWrapper.open {
  right: 0;
}

/* Full width on mobile */
@media (max-width: 600px) {
  .SidebarWrapper {
    width: 70%;
    right: -70%;
  }

  .SidebarWrapper.open {
    right: 0;
  }
}

.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-modal-background);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s cubic-bezier(0.65, 0, 0.35, 1);
  z-index: 998;
}

.Backdrop.show {
  opacity: 1;
  pointer-events: all;
}

.Header {
  display: flex;
  align-items: center;
  padding: var(--spacing-2xsmall) var(--spacing-base);
  padding-right: var(--spacing-2xsmall);
  border-bottom: 1px solid var(--color-neutral-base);
  background-color: var(--color-white);

  &>h1 {
    margin-right: auto;
    padding-left: var(--spacing-2xsmall);
  }
}

.SidebarItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--spacing-base);
  cursor: pointer;
  transition: var(--transition);

  &:not(.Active):hover {
    background-color: var(--color-neutral-base);
  }
}

.SidebarItemContainer.Active {
  border-left: 3px solid var(--color-primary-base);
  background-color: var(--color-neutral-base);
}

.SidebarItemTextContainer {
  display: flex;
  gap: var(--spacing-2xsmall);
  align-items: center;
}

.SidebarItemSubTextContainer {
  display: flex;
  align-items: center;
}