.NavbarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-app-surface);
  padding: var(--spacing-2xsmall) 0;
  border-bottom: 2px solid var(--color-border-light);
}

.SizeWrapper {
  display: flex;
  justify-content: center;
  gap: var(--spacing-small);
  width: 100%;
  max-width: var(--max-app-width);
  padding: 0 var(--spacing-base);

  &>:last-child {
    margin-left: auto;
  }
}

.TitleContainer {
  display: flex;
  align-items: center;
}