.NavbarWrapper {
  display: flex;
  align-items: center;
  height: 54px;
  overflow: hidden;
  background-color: var(--color-background-card);
  padding: 0 1em;
}

.TitleContainer {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding: 0 0.5em;
}