.headingContainer {
  display: flex;
  align-items: center;
  gap: var(--spacing-xsmall);
  padding: var(--spacing-xsmall);
  padding-left: var(--spacing-large);
  background-color: var(--color-primary);
}

.InfoContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);

  &>p {
    flex: 1;
    text-align: center;
    color: var(--color-onprimary);
  }
}

.ButtonInputWrapper {
  border-top: 1px solid var(--color-border);
  padding: var(--spacing-base) 0;
}