.TopBarWrapper {
  display: flex;
  align-items: center;
  gap: var(--spacing-xsmall);
  padding: var(--spacing-small) var(--spacing-xsmall);
  padding-left: var(--spacing-large);
  background-color: var(--color-primary-base);

  & p {
    flex: 1;
    display: flex;
    justify-content: center;
    color: var(--color-white);
  }
}

.StatusBarContainer {
  height: calc(var(--spacing-2xsmall) + 0.12rem);
  transition: var(--transition);

  &.StatusBarError {
    background-color: var(--color-error);
  }

  &.StatusBarSuccess {
    background-color: var(--color-success);
  }
}

.CurrentNoteContainer {
  text-align: center;
  width: 4rem;
  padding: var(--spacing-2xsmall) var(--spacing-base);
  margin: var(--spacing-xsmall);
  border-radius: var(--radius-full);
  border: 1px solid var(--color-neutral-dark);
}

.InfoContainer {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-xsmall);

  &>p {
    flex: 1;
    text-align: center;
    color: var(--color-white);
  }
}

.ButtonInputWrapper {
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--color-neutral-dark);
  padding: var(--spacing-base) var(--spacing-xsmall);
  margin-top: var(--spacing-base);
}

.ButtonInputWrapper.PianoInput {
  background-color: var(--color-neutral-xdark);
  padding: var(--spacing-large) 1px;
}

.ButtonInputWrapper.MIDIInput {
  background-color: var(--color-neutral-xdark);
  padding: var(--spacing-large) 1px;
}

.MIDIInputDisconnectedContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}