.PianoRollWrapper {
  width: 100%;
  height: auto;
  max-width: 400px;
  border: 1px solid var(--color-neutral-dark);
}

g.WhiteKey {
  cursor: pointer;
}

g.WhiteKey:nth-child(7)>line {
  stroke-width: 0;
}

g.BlackKey {
  cursor: pointer;
}

.PianoRollWrapper g.WhiteKey:active rect {
  fill: var(--color-error-base);
}

.PianoRollWrapper g.BlackKey:active rect {
  fill: var(--color-error-base);
  stroke: rgb(201, 9, 9);
}