.backdrop {
  position: fixed;
  inset: 0;
  background: var(--color-modal-background);
  display: flex;
  justify-content: center;
  align-items: flex-start;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out;
}

.backdrop.open {
  opacity: 1;
  pointer-events: auto;
}

.modal {
  padding: var(--spacing-base);
  width: 100%;
  max-width: 31rem;
  border-radius: 0.5rem;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.2s ease-out, opacity 0.20s ease-out;
}

.modal.open {
  transform: scale(1);
  opacity: 1;
}