.NoteButtonInputWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-small);
}

.AccidentalButtonsContainer {
  display: flex;
  gap: var(--spacing-xsmall);
}

.NoteButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--spacing-xsmall);
}