.OctaveButtonsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing-base);
}

.StaveContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  padding: 0 var(--spacing-large);
}

.RangeContainer {
  padding: var(--spacing-base);
  margin-top: var(--spacing-small);
  text-align: center;
}

.SelectedRangeContainer {
  margin: 0 auto;
  margin-top: var(--spacing-xsmall);
  text-align: center;
  width: clamp(3rem, 100%, 7.5rem);
  padding: var(--spacing-base);
  background-color: var(--color-primary-base);
  border-radius: var(--radius-base);

  & p {
    color: var(--color-white);
  }
}