@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  /* Spacing */
  --spacing-2xsmall: 0.25rem;
  --spacing-xsmall: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-base: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 2rem;
  --spacing-2xlarge: 3rem;

  /* Font families */
  --font-family: "Inter", sans-serif;

  /* Font weights */
  --weight-base: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Font sizes */
  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-large: 1.125rem;
  --font-size-xlarge: 1.25rem;
  --font-size-2xlarge: 1.5rem;
  --font-size-3xlarge: 2rem;

  /* palettes */
  --palette-black: #000000;
  --palette-white: #ffffff;

  --palette-grey-100: #F2F3F5;
  --palette-grey-200: #E4E6EB;
  --palette-grey-300: #D0D4DB;
  --palette-grey-400: #99A1B0;
  --palette-grey-500: #6B7282;
  --palette-grey-600: #4A5566;
  --palette-grey-700: #374254;
  --palette-grey-800: #1E2838;
  --palette-grey-900: #101829;

  --palette-blue-100: #E6F1FF;
  --palette-blue-200: #BFDCFF;
  --palette-blue-300: #8FC5FF;
  --palette-blue-400: #8FC5FF;
  --palette-blue-500: #2B80FF;
  --palette-blue-600: #145EFC;
  --palette-blue-700: #1345DD;
  --palette-blue-800: #1433A4;
  --palette-blue-900: #102974;

  --palette-red-500: #CA4848;

  /* application vars */
  --max-app-width: 1000px;
  --min-button-size: 40px;
  --max-phone-width: 600px;

  --radius-base: 0.5rem;
  --radius-large: 1rem;
  --radius-full: 99rem;

  --transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

  --ui-font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);

  --color-text: var(--palette-grey-900);
  --color-text-light: var(--palette-grey-600);

  --color-primary: var(--palette-blue-500);
  --color-primary-hover: var(--palette-blue-600);
  --color-primary-surface: var(--palette-blue-100);
  --color-primary-surface-hover: var(--palette-blue-200);
  --color-onprimary: var(--palette-white);

  --color-app-background: #FAFCFF;
  --color-app-hover: var(--palette-grey-100);
  --color-app-surface: var(--palette-white);

  --color-border-dark: var(--palette-grey-500);
  --color-border: var(--palette-grey-300);
  --color-border-light: var(--palette-grey-100);

  --color-error: var(--palette-red-500);

  --color-modal-background: #00000070;

  --elevation-light: 0 0.125rem 0 0 #00000020;
  --elevation-medium: 0 0.125rem 0 0 #00000040;
}

html {
  font-size: 16px;
  font-family: var(--font-family);
}

body {
  background-color: var(--color-app-background);
}

.size-wrapper {
  width: 100%;
  max-width: var(--max-app-width);
  padding: var(--spacing-large) var(--spacing-base);
}

.truncate-overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left: var(--spacing-2xsmall);
}

/* Font defaults / classes */

h1 {
  font: var(--weight-bold) var(--font-size-large)/1.4 var(--font-family);
  color: var(--color-text);
}

h2 {
  font: var(--weight-bold) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-text);
}

p {
  font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-text);
}

.heading {
  font: var(--weight-bold) var(--font-size-large)/1.4 var(--font-family);
  color: var(--color-text);
}

.heading-secondary {
  font: var(--weight-bold) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-text);
}

.body {
  font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-text);
}

.body-secondary {
  font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-text-light);
}

.caption {
  font: var(--weight-base) var(--font-size-small)/1.4 var(--font-family);
  color: var(--color-text-light);
}