@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  /* Spacing */
  --spacing-2xsmall: 0.25rem;
  --spacing-xsmall: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-base: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 2rem;
  --spacing-2xlarge: 3.5rem;
  --spacing-3xlarge: 5rem;

  /* Font families */
  --font-family: "Inter", sans-serif;

  /* Font weights */
  --weight-base: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Font sizes */
  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-large: 1.125rem;
  --font-size-xlarge: 1.25rem;
  --font-size-2xlarge: 1.5rem;
  --font-size-3xlarge: 2rem;

  /* application vars */
  --max-app-width: 1000px;
  --min-button-size: 40px;
  --max-phone-width: 600px;

  --radius-small: 4px;
  --radius-base: 8px;
  --radius-large: 16px;
  --radius-full: 99rem;

  --transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

  --ui-font: var(--weight-semibold) var(--font-size-base)/1.4 var(--font-family);

  --line-graph-label-font: var(--weight-bold) var(--font-size-base)/1.4 var(--font-family);

  /* COLORS */
  --palette-main-1: #D5E6FF;
  /* BRAND main-2 */
  --palette-main-2: #2B80FF;
  --palette-main-3: #145EFC;
  --palette-main-4: #1551d3;
  --palette-main-5: #102974;

  --palette-light-1: #FFFFFF;
  --palette-light-2: #f5f9ff;
  --palette-light-3: #EFF0F4;
  --palette-light-4: #E0E2EB;

  --palette-dark-1: #8F98AE;
  --palette-dark-2: #6B7282;
  --palette-dark-3: #33435c;
  --palette-dark-4: #23324b;
  --palette-dark-5: #172336;

  --palette-red-1: #CA4848;
  --palette-green-1: #53ca48;

  --color-main-1: var(--palette-main-1);
  --color-main-2: var(--palette-main-2);
  --color-main-4: var(--palette-main-4);

  --color-dark-2: var(--palette-dark-2);

  --color-text-body-1: var(--palette-dark-5);
  --color-text-body-2: var(--palette-dark-2);
  --color-text-main-1: var(--palette-light-1);
  --color-text-main-2: var(--palette-light-3);

  --color-surface-light-1: var(--palette-light-1);
  --color-surface-light-2: var(--palette-light-3);
  --color-surface-main-1: var(--palette-light-1);
  --color-surface-border-1: var(--palette-light-4);
  --color-surface-border-2: var(--palette-dark-1);

  --color-body-background: var(--palette-light-2);

  --color-button-contained-primary-background: var(--palette-main-2);
  --color-button-contained-primary-hover: var(--palette-main-3);
  --color-button-contained-primary-text: var(--palette-light-1);
  --color-button-contained-secondary-background: var(--palette-light-1);
  --color-button-contained-secondary-hover: var(--palette-light-3);
  --color-button-contained-secondary-text: var(--palette-dark-5);

  --color-button-outlined-hover: var(--palette-light-3);
  --color-button-outlined-text: var(--palette-dark-3);
  --color-button-outlined-border: var(--palette-dark-1);
  --color-button-outlined-focus: var(--palette-main-2);

  --color-button-text-primary-text: var(--palette-light-1);
  --color-button-text-primary-hover: var(--palette-main-3);
  --color-button-text-secondary-text: var(--palette-dark-3);
  --color-button-text-secondary-hover: var(--palette-light-3);

  --color-input-background: var(--palette-light-1);
  --color-input-text: var(--palette-dark-5);
  --color-input-placeholder-text: var(--palette-dark-2);
  --color-input-border: var(--palette-dark-1);
  --color-input-hover: var(--palette-light-3);

  --color-error: var(--palette-red-1);
  --color-success: var(--palette-green-1);

  --color-modal-background: #00000070;

  --elevation-light: 0 0.125rem 0 0 #00000020;
  --elevation-medium: 0 0.125rem 0 0 #00000030;
}

/* @media (prefers-color-scheme:) {
  :root {
    --color-main-1: var(--palette-main-1);
    --color-main-2: var(--palette-main-2);
    --color-main-5: var(--palette-main-5);

    --color-dark-2: var(--palette-dark-2);

    --color-text-body-1: var(--palette-light-1);
    --color-text-body-2: var(--palette-light-4);
    --color-text-main-1: var(--palette-light-1);
    --color-text-main-2: var(--palette-light-3);

    --color-surface-light-1: var(--palette-dark-4);
    --color-surface-main-1: var(--palette-dark-5);
    --color-surface-border-1: var(--palette-dark-3);

    --color-body-background: var(--palette-dark-5);

    --color-button-contained-primary-background: var(--palette-main-3);
    --color-button-contained-primary-hover: var(--palette-main-4);
    --color-button-contained-primary-text: var(--palette-light-1);
    --color-button-contained-secondary-background: var(--palette-dark-3);
    --color-button-contained-secondary-hover: var(--palette-dark-2);
    --color-button-contained-secondary-text: var(--palette-light-1);

    --color-button-outlined-hover: var(--palette-dark-3);
    --color-button-outlined-text: var(--palette-light-2);
    --color-button-outlined-border: var(--palette-dark-2);
    --color-button-outlined-focus: var(--palette-main-3);

    --color-button-text-primary-text: var(--palette-light-1);
    --color-button-text-primary-hover: var(--palette-main-2);
    --color-button-text-secondary-text: var(--palette-light-2);
    --color-button-text-secondary-hover: var(--palette-dark-4);

    --color-input-background: var(--palette-dark-4);
    --color-input-text: var(--palette-light-1);
    --color-input-placeholder-text: var(--palette-dark-1);
    --color-input-border: var(--palette-light-2);
    --color-input-hover: var(--palette-dark-1);
  }
} */

html {
  font-size: 16px;
  font-family: var(--font-family);
}

body {
  background-color: var(--color-body-background);
}

.size-wrapper {
  width: 100%;
  max-width: var(--max-app-width);
  padding: var(--spacing-large) var(--spacing-base);
}

.truncate-overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Font defaults / classes */

h1 {
  font: var(--weight-semibold) var(--font-size-large)/1.4 var(--font-family);
  color: var(--color-text-body-1);
}

h2 {
  font: var(--weight-semibold) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-text-body-1);
}

p {
  font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-text-body-1);
}

.large-heading {
  font: var(--weight-semibold) var(--font-size-2xlarge)/1.4 var(--font-family);
  color: var(--color-text-body-1);
}

.heading {
  font: var(--weight-semibold) var(--font-size-large)/1.4 var(--font-family);
  color: var(--color-text-body-1);
}

.heading-secondary {
  font: var(--weight-base) var(--font-size-large)/1.4 var(--font-family);
  color: var(--color-text-body-1);
}

.body {
  font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-text-body-1);
}

.body-secondary {
  font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-text-body-2);
}

.caption {
  font: var(--weight-base) var(--font-size-small)/1.4 var(--font-family);
  color: var(--color-text-body-2);
}

/* Special classes */
svg.stave-scalable {
  width: 100% !important;
  height: auto !important;

  max-width: 230px;
}

.stave-show-wrong-note {
  animation: fadeInWrongNote 0.3s cubic-bezier(0.65, 0, 0.35, 1) forwards, note-shake 0.3s ease-in-out;

  &>path {
    animation: fadeInWrongNote 0.3s cubic-bezier(0.65, 0, 0.35, 1) forwards, note-shake 0.3s ease-in-out;
  }
}

.stave-hide-wrong-note {
  animation: fadeOutWrongNote 0.4s cubic-bezier(0.65, 0, 0.35, 1) forwards;

  &>path {
    animation: fadeOutWrongNote 0.4s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }
}

@keyframes fadeInWrongNote {
  0% {
    fill: transparent;
    stroke: transparent;
  }

  100% {
    fill: var(--color-error);
    stroke: var(--color-error);
  }
}

@keyframes note-shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-1px);
  }

  40% {
    transform: translateX(1px);
  }

  60% {
    transform: translateX(-1px);
  }

  80% {
    transform: translateX(1px);
  }
}

@keyframes fadeOutWrongNote {
  0% {
    fill: var(--color-error);
    stroke: var(--color-error);
  }

  100% {
    fill: transparent;
    stroke: transparent;
  }
}


@media (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
}