html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--color-on-background);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  /* Fonts */
  --font-family-base: "Montserrat", sans-serif;

  /* Base Palette */
  --palette-primary: #6c5eff;
  --palette-primary-dark: #5d3fe2;
  --palette-accent: #14a9ff;
  --palette-light-1: #FFFFFF;
  --palette-light-2: #f4f3f8;
  --palette-light-3: #e8e6ee;
  --palette-dark-1: #52476B;
  --palette-dark-2: #201736;
  --palette-dark-3: #201736;

  /* Semantic Colors */
  --color-primary-main: var(--palette-primary);
  --color-primary-dark: var(--palette-primary-dark);
  --color-primary-text: var(--palette-light-1);

  --color-background-default: var(--palette-light-2);
  --color-background-card: var(--palette-light-1);
  --color-background-text: var(--palette-light-1);

  --color-shadow: rgba(0, 0, 0, 0.2);

  --color-text-primary: var(--palette-dark-2);
  --color-text-secondary: var(--palette-dark-1);

  --color-divider: var(--palette-light-4);

  /* Status colors */
  --color-success-main: #16a34a;
  --color-error-main: #dc2626;
  --color-warning-main: #f59e0b;

}

html {
  background-color: var(--color-background-default);
}

body {
  font-family: var(--font-family-base);
}