html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: var(--color-on-background);
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  /* Theme */
  --color-primary: #cf4af7;
  --color-on-primary: #ffffff;

  --color-background: #f9f7fa;
  --color-on-background: #23242b;

  --color-surface: #ffffff;
  --color-on-surface: #23242b;
  --color-surface-variant: #d9d8e4;

  --color-border: #d7d7e2;

  --color-error: #e53935;
  --color-on-error: #ffffff;

  --color-success: #43a047;
  --color-on-success: #ffffff;

  --color-disabled: #9e9e9e;

  /* UI Components */
  --ui-primary: var(--color-primary);
  --ui-on-primary: var(--color-on-primary);
  --ui-surface: var(--color-surface-variant);
  --ui-on-surface: var(--color-on-surface);
  --ui-border: var(--color-border);
}

html {
  background-color: var(--color-background);
}