@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
input[type="range" i] {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

:root {
  /* Spacing */
  --spacing-2xsmall: 0.25rem;
  --spacing-xsmall: 0.5rem;
  --spacing-small: 0.75rem;
  --spacing-base: 1rem;
  --spacing-large: 1.5rem;
  --spacing-xlarge: 2rem;
  --spacing-2xlarge: 3.5rem;
  --spacing-3xlarge: 5rem;

  /* Font families */
  --font-family: "Inter", sans-serif;

  /* Font weights */
  --weight-base: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Font sizes */
  --font-size-xsmall: 0.75rem;
  --font-size-small: 0.875rem;
  --font-size-base: 1rem;
  --font-size-large: 1.125rem;
  --font-size-xlarge: 1.25rem;
  --font-size-2xlarge: 1.5rem;
  --font-size-3xlarge: 2rem;

  /* Radius sizes */
  --radius-small: 4px;
  --radius-base: 8px;
  --radius-large: 16px;
  --radius-full: 99rem;

  /* application vars */
  --max-app-width: 1100px;
  --min-button-size: 40px;
  --max-phone-width: 600px;

  --transition: background-color 0.2s ease, color 0.2s ease, border-color 0.2s ease;

  /* Font shorthands */

  --ui-font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);

  --line-graph-label-font: var(--weight-bold) var(--font-size-base)/1.4 var(--font-family);

  /* COLORS */
  --color-primary-xlight: #f5f9ff;
  --color-primary-light: #D5E6FF;
  --color-primary-base: #2B80FF;
  --color-primary-dark: #145EFC;
  --color-primary-xdark: #1551d3;
  --color-primary-2xdark: #102974;

  --color-neutral-light: hsl(216, 12%, 98%);
  --color-neutral-base: hsl(216, 15%, 95%);
  --color-neutral-dark: hsl(228, 19%, 92%);
  --color-neutral-xdark: hsl(229, 22%, 87%);
  --color-neutral-2xdark: hsl(229, 24%, 80%);

  --color-shade-light: #8F98AE;
  --color-shade-base: #6B7282;
  --color-shade-dark: #33435c;
  --color-shade-xdark: #23324b;
  --color-shade-2xdark: #172336;

  --color-white: #ffffff;

  --color-error-base: #CA4848;
  --color-success-base: #53ca48;

  --color-modal-background: #00000070;

  --elevation-light: 0 0.125rem 0 0 #00000020;
  --elevation-medium: 0 0.125rem 0 0 #00000030;
}

html {
  font-family: var(--font-family);
}

body {
  background-color: var(--color-primary-xlight);
}

.size-wrapper {
  width: 100%;
  max-width: var(--max-app-width);
  padding: var(--spacing-large) var(--spacing-base);
}

.truncate-overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Font defaults / classes */

h1 {
  font: var(--weight-semibold) var(--font-size-large)/1.4 var(--font-family);
  color: var(--color-shade-2xdark);
}

h2 {
  font: var(--weight-semibold) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-shade-2xdark);
}

p {
  font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-shade-2xdark);
}

.large-heading {
  font: var(--weight-semibold) var(--font-size-2xlarge)/1.4 var(--font-family);
  color: var(--color-shade-2xdark);
}

.heading {
  font: var(--weight-semibold) var(--font-size-large)/1.4 var(--font-family);
  color: var(--color-shade-2xdark);
}

.heading-secondary {
  font: var(--weight-base) var(--font-size-large)/1.4 var(--font-family);
  color: var(--color-shade-2xdark);
}

.body {
  font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-shade-2xdark);
}

.body-secondary {
  font: var(--weight-base) var(--font-size-base)/1.4 var(--font-family);
  color: var(--color-shade-base);
}

.caption {
  font: var(--weight-base) var(--font-size-small)/1.4 var(--font-family);
  color: var(--color-shade-2xdark);
}

.caption-secondary {
  font: var(--weight-base) var(--font-size-small)/1.4 var(--font-family);
  color: var(--color-shade-base);
}

/* Special classes */
svg.stave-scalable {
  width: 100% !important;
  height: auto !important;

  max-width: 230px;
}

.stave-show-wrong-note {
  animation: fadeInWrongNote 0.3s cubic-bezier(0.65, 0, 0.35, 1) forwards, note-shake 0.3s ease-in-out;

  &>path {
    animation: fadeInWrongNote 0.3s cubic-bezier(0.65, 0, 0.35, 1) forwards, note-shake 0.3s ease-in-out;
  }
}

.stave-hide-wrong-note {
  animation: fadeOutWrongNote 0.4s cubic-bezier(0.65, 0, 0.35, 1) forwards;

  &>path {
    animation: fadeOutWrongNote 0.4s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }
}

@keyframes fadeInWrongNote {
  0% {
    fill: transparent;
    stroke: transparent;
  }

  100% {
    fill: var(--color-error-base);
    stroke: var(--color-error-base);
  }
}

@keyframes note-shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-1px);
  }

  40% {
    transform: translateX(1px);
  }

  60% {
    transform: translateX(-1px);
  }

  80% {
    transform: translateX(1px);
  }
}

@keyframes fadeOutWrongNote {
  0% {
    fill: var(--color-error);
    stroke: var(--color-error);
  }

  100% {
    fill: transparent;
    stroke: transparent;
  }
}


@media (max-width: 600px) {
  .mobile-hide {
    display: none;
  }
}