.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-2xsmall);
  font: var(--ui-font);
  cursor: pointer;
  border: none;
  background: none;
  transition: var(--transition);
}

/* Handle button sizes (padding) */
.button.size-small {
  padding: var(--spacing-xsmall) var(--spacing-xsmall);
}

.button.size-medium {
  padding: var(--spacing-xsmall) var(--spacing-base);
}

.button.size-large {
  padding: var(--spacing-xsmall) var(--spacing-large);
}

.fullWidth {
  width: 100%;
}

/* radius */
.round-small {
  border-radius: var(--radius-base);
}

.round-full {
  border-radius: var(--radius-full);
}

.contained {
  position: relative;
  background-color: var(--color-primary-base);
  color: var(--color-white);
  box-shadow: var(--elevation-medium);

  &:hover {
    background-color: var(--color-primary-base);
  }

  &:active {
    top: 1px;
    box-shadow: none;
  }

  &>svg>path {
    fill: var(--color-white);
    color: var(--color-white);
  }
}

.contained.disabled {
  cursor: default;
  background-color: var(--color-shade-base);

  &:active {
    top: unset;
    box-shadow: var(--elevation-medium);
  }
}

.outlined {
  background-color: var(--color-white);
  border: 1px solid var(--color-shade-light);
  color: var(--color-shade-2xdark);

  &:hover {
    background-color: var(--color-neutral-base);
  }

  &:focus {
    outline: 2px solid var(--color-primary-base);
  }
}

.outlined.active {
  color: var(--color-white);
  background-color: var(--color-primary-base);

  &>svg>path {
    fill: var(--color-white);
    color: var(--color-white);
  }

  &:focus {
    outline: revert;
  }
}

.text {
  &:hover {
    background-color: var(--color-primary-base);
  }
}

.text-secondary {
  color: var(--color-shade-xdark);

  &:hover {
    background-color: var(--color-neutral-base);
  }

  &:focus {
    outline: 2px solid var(--color-primary-base);
  }
}

.text.active {
  color: var(--color-white);
  background-color: var(--color-primary-base);

  &>svg>path {
    fill: var(--color-white);
    color: var(--color-white);
  }
}

.text-secondary.active {
  color: var(--color-white);
  background-color: var(--color-primary-base);

  &>svg>path {
    fill: var(--color-white);
    color: var(--color-white);
  }

  &:focus {
    outline: revert;
  }
}