.InputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2px;
}

.Input {
  width: 100%;
  padding: var(--spacing-small);
  border-radius: var(--radius-small);
  border: 1px solid var(--color-input-border);
  font-size: var(--font-size-base);
  color: var(--color-input-text);
  background-color: var(--color-input-background);

  &::placeholder {
    color: var(--color-input-placeholder-text);
  }

  &:focus {
    outline: 2px solid var(--color-main);
  }
}

select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  color: var(--color-text-body-1);
}

select:open::picker-icon {
  rotate: 180deg;
}

.InputSelect {
  width: 100%;
  padding: var(--spacing-small);
  border-radius: var(--radius-small);
  border: 1px solid var(--color-input-border);
  font-size: var(--font-size-base);
  color: var(--color-text-body-1);
  background-color: var(--color-input-background);
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--color-main-2);
  }

}

.InputSelect>option {
  padding: var(--spacing-small) var(--font-size-xsmall);

  &:hover {
    background-color: var(--color-input-hover);
  }

  &:focus {
    color: var(--color-text-main-1);
    background-color: var(--color-main-2);
  }
}

.InputWrapper>p {
  /* Line height, to prevent layout shifts */
  min-height: 1.4em;
}

.Error {
  color: var(--color-error);
}

.SliderWrapper {
  display: flex;
  align-items: center;
  width: 100%;

  &.SliderValue {
    align-self: flex-end;
    text-align: right;
  }
}

.SliderLabel {
  display: flex;
  flex-direction: column;
  color: var(--color-text-body-1);
  flex-grow: 1;
}

.SliderLabel>p.Hide {
  display: none;
}

.SliderValue {
  text-align: right;
  width: fit-content;
  min-width: 1.8rem;
  margin-right: var(--spacing-small);
}

.Slider::-webkit-slider-thumb {
  transform: scale(1.1);
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.Slider {
  accent-color: var(--color-main-2);
}

.CustomFileInput::file-selector-button {
  background-color: var(--color-main-2);
  color: var(--color-text-main-1);
  padding: var(--spacing-xsmall) var(--spacing-small);
  border: none;
  border-radius: var(--radius-base);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font: var(--ui-font);
}

.CustomFileInput::file-selector-button:hover {
  background-color: var(--color-button-text-primary-hover);
}