.InputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Neccessary to ensure outline for focus will not be cut off */
  padding: 2px;
}

.Input {
  width: 100%;
  padding: var(--spacing-small);
  border-radius: var(--radius-small);
  border: 1px solid var(--color-border);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-app-surface);

  &::placeholder {
    color: var(--color-text-light);
  }

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}

.InputWrapper>p {
  /* Line height, to prevent layout shifts */
  min-height: 1.4em;
}

.Error {
  color: var(--color-error);
}