.InputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* Neccessary to ensure outline for focus will not be cut off */
  padding: 2px;
}

.Input {
  width: 100%;
  padding: var(--spacing-small);
  border-radius: var(--radius-small);
  border: 1px solid var(--color-border);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-app-surface);

  &::placeholder {
    color: var(--color-text-light);
  }

  &:focus {
    outline: 2px solid var(--color-primary);
  }
}

/* "opt-in" to customize select element */
select,
::picker(select) {
  appearance: base-select;
}

select::picker-icon {
  color: var(--color-text);
}

select:open::picker-icon {
  rotate: 180deg;
}

.InputSelect {
  width: 100%;
  padding: var(--spacing-small);
  border-radius: var(--radius-small);
  border: 1px solid var(--color-border);
  font-size: var(--font-size-base);
  color: var(--color-text);
  background-color: var(--color-app-surface);
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--color-primary);
  }

}

.InputSelect>option {
  padding: var(--spacing-small) var(--font-size-xsmall);

  &:hover {
    background-color: var(--color-app-hover);
  }

  &:focus {
    color: var(--color-onprimary);
    background-color: var(--color-primary);
  }
}

.InputWrapper>p {
  /* Line height, to prevent layout shifts */
  min-height: 1.4em;
}

.Error {
  color: var(--color-error);
}