.InputWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2px;
}

.Input {
  width: 100%;
  padding: var(--spacing-small);
  border-radius: var(--radius-small);
  border: 1px solid var(--color-neutral-xdark);
  font-size: var(--font-size-base);
  color: var(--color-shade-2xdark);
  background-color: var(--color-white);

  &::placeholder {
    color: var(--color-shade-light);
  }

  &:focus {
    outline: 2px solid var(--color-main);
  }
}

.InputSelect {
  width: 100%;
  padding: var(--spacing-small);
  border-radius: var(--radius-small);
  border: 1px solid var(--color-neutral-xdark);
  font-size: var(--font-size-base);
  color: var(--color-shade-2xdark);
  background-color: var(--color-white);
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--color-primary-base);
  }
}

.InputWrapper>p {
  min-height: 1.4em;
}

.Error {
  color: var(--color-error);
}

.SliderWrapper {
  display: flex;
  align-items: center;
  width: 100%;

  &.SliderValue {
    align-self: flex-end;
    text-align: right;
  }
}

.SliderLabel {
  display: flex;
  flex-direction: column;
  color: var(--color-shade-2xdark);
  flex-grow: 1;
}

.SliderLabel>p.Hide {
  display: none;
}

.SliderValue {
  text-align: right;
  width: fit-content;
  min-width: 1.8rem;
  margin-right: var(--spacing-small);
}

.Slider::-webkit-slider-thumb {
  cursor: grab;
}

.CustomFileInput::file-selector-button {
  background-color: var(--color-primary-base);
  color: var(--color-white);
  padding: var(--spacing-xsmall) var(--spacing-small);
  border: none;
  border-radius: var(--radius-base);
  cursor: pointer;
  transition: background-color 0.3s ease;
  font: var(--ui-font);
}

.CustomFileInput::file-selector-button:hover {
  background-color: var(--color-primary-base);
}