.CustomDrillsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContentWrapper {
  width: 100%;
  max-width: 35rem;
}

.CardHeaderContainer {
  display: flex;
  padding: var(--spacing-base);
  padding-bottom: var(--spacing-xsmall);
}

.InputsContainer {
  padding: var(--spacing-base);
  padding-top: 0;

  &>h2 {
    padding-top: var(--spacing-large);
    padding-bottom: var(--spacing-xsmall);
  }
}

.FlexInputsContainer {
  display: flex;
  gap: var(--spacing-small);
}

.FlexButtonsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-2xsmall);
}

.SubmitButtonContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
  padding: var(--spacing-base);
  border-top: 1px solid var(--color-neutral-dark);
}